@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


main {
    width: 95vw;
    max-width: 1200px;
    margin: auto;

}

.container {
    margin-top: 80px;
    width: 100%;
    text-align: center;

}
.imgContainer {
    width: 100%;
    height: 500px;
    border: 6px solid rgb(3, 137, 190) ;
    border-radius: 15px;
    overflow: hidden ;
    position: relative;

}


.slider {
    height: 100%;
    width: 100%;
    transition: 0.8s;
    position: absolute;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.slider:first-child {
left: 100%;
}

span {
    position: relative;
    font-size: 5em;
    font-weight: 600;
    top: -310px;
    left:500x;
    color:rgb(167, 165, 165);
    z-index: 555;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: fit-content;
}

.prev, .next {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.9em;
    color: rgb(10, 95, 173);
}



.prev:hover, .next:hover {
    color: rgb(62, 127, 187);
    cursor: pointer;
}

.next.hide {
    display: none;
}


.prev.hide {
    display: none;
}